node_modules
simple-text-editor/MongoDB/Server/4.4/data/_mdb_catalog.wt
simple-text-editor/MongoDB/Server/4.4/data/collection-0-4677335335975639343.wt
simple-text-editor/MongoDB/Server/4.4/data/collection-2-4677335335975639343.wt
simple-text-editor/MongoDB/Server/4.4/data/collection-4-4677335335975639343.wt
simple-text-editor/MongoDB/Server/4.4/data/index-1-4677335335975639343.wt
simple-text-editor/MongoDB/Server/4.4/data/index-3-4677335335975639343.wt
simple-text-editor/MongoDB/Server/4.4/data/index-5-4677335335975639343.wt
simple-text-editor/MongoDB/Server/4.4/data/index-6-4677335335975639343.wt
simple-text-editor/MongoDB/Server/4.4/data/mongod.lock
simple-text-editor/MongoDB/Server/4.4/data/sizeStorer.wt
simple-text-editor/MongoDB/Server/4.4/data/storage.bson
simple-text-editor/MongoDB/Server/4.4/data/WiredTiger
simple-text-editor/MongoDB/Server/4.4/data/WiredTiger.lock
simple-text-editor/MongoDB/Server/4.4/data/WiredTiger.turtle
simple-text-editor/MongoDB/Server/4.4/data/WiredTiger.wt
simple-text-editor/MongoDB/Server/4.4/data/WiredTigerHS.wt
simple-text-editor/MongoDB/Server/4.4/data/diagnostic.data/metrics.2021-01-29T19-51-05Z-00000
simple-text-editor/MongoDB/Server/4.4/data/diagnostic.data/metrics.2021-01-29T19-53-21Z-00000
simple-text-editor/MongoDB/Server/4.4/data/diagnostic.data/metrics.interim
simple-text-editor/MongoDB/Server/4.4/data/journal/WiredTigerLog.0000000002
simple-text-editor/MongoDB/Server/4.4/data/journal/WiredTigerPreplog.0000000001
simple-text-editor/MongoDB/Server/4.4/data/journal/WiredTigerPreplog.0000000002
simple-text-editor/MongoDB/Server/4.4/log/mongod.log
