@import "./assets/variables/_colors";

// Mixins

@import "./assets/variables/_fonts.scss";

html {
	body {
		margin: none;
		background-color: $background-color;
		font-size: 1em;
		font-family: "Poppins", sans-serif;
		font-weight: 400;
		color: $text-color;

		ul {
			&.menu {
				list-style: none;
				display: flex;
			}
		}

		[contextmenu] {
			outline: none;
			background: none;
		}

		i {
			&.icon {
				svg {
					fill: $text-color;
					width: 2em;
					height: 2em;
				}
			}
		}
	}
}
