@import "../../assets/variables/colors";

.editor {
	p {
		padding: 0.75em 0.2em;
		margin: 0;
		cursor: text;

		&.has-focus {
			background-color: rebeccapurple;
		}
	}
	[contenteditable] {
		&:after {
			content: "|";
			color: powderblue;
			animation-name: blink;
			animation-duration: 0.9s;
			animation-iteration-count: infinite;
			animation-timing-function: ease;
		}

		&:focus,
		&:active,
		&:focus-within,
		&:focus-visible {
			outline: none;
			background-color: $focus-background-color;
		}
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
