@import "../../assets/variables/colors";

.editor {
	p {
		padding: 0.75em 0.2em;
		margin: 0;
		cursor: text;

		&:empty:not(:focus):before {
			content: attr(data-placeholder);
		}
	}
	[contenteditable] {
		caret-color: $caret-color;

		&:focus,
		&:active,
		&:focus-within,
		&:focus-visible {
			outline: none;
			background-color: $focus-background-color;
		}
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
